        body{
            font-family: sans-serif;
            margin:0;
            padding:0;
            background-color: #E7EFEF;
        }
        header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding:10px;
            height: 30px;
            background-color: white;
        }
        .wrapper{
            width: 75%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .container{
            display: flex;
            width: 80%;
            margin:10px auto;
            flex-direction: row;
            align-items: stretch;
        }
        .sidebar{
            display: flex;
            flex-direction: column;
            width:40%;
            align-items: center;
        }
        .main{
            width: 60%;
            margin-left:5px;
            background-color: white;
        }
        div .row{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 80%;
            background-color:white;
            margin-bottom: 10px;
            border-radius: 10px;
        }
        .profile{
            width: 60%;
        }
        .header{
            width: 90%;
            margin: 5px auto;
            height: 100px;
            background-color: grey;
            border-radius: 8px;
        }
        img{
            border-radius: 50%;
        }
        .details{
            width: 90%;
            margin: 5px auto;
            height: 100px;
            background-color: grey;
            border-radius: 8px;
        }
        .body{
            position: relative;
            left:7%;
            margin-top: -25px ;
            display: flex;
            justify-content: flex-start;
        }
        .right{
           align-self: center;
           font-size: 1rem;
        }
        div .stats {
            display: flex;
            justify-content: space-around;
        }
        .box{
            font-size: 1rem;
        }
        .box p{
            margin-top: 1px;
            margin-bottom:1px; 
        }
        .box p:nth-child(2){
            margin-bottom: 12px; 
            color: #1F5C78;
            font-size: 2rem ;
            font-weight: bold;
        }
        .follow{
            display: flex;
            justify-content: space-evenly;
        }
        .follow-header{
            display: flex;
            align-items: baseline;
            border-bottom:1px solid #444444;
        }
     
        .follow-footer{
           display: flex;
           flex-direction: row; 
           justify-content: center;
        }
     
        .follow-header span{
            padding:10px;
        }
        .follow-header span:first-child{
            font-size: 1.2rem;
            font-weight: bold;
        }
        .follow-header span:nth-child(2) {
            font-size: 0.8rem;
            font-weight: lighter;
        }
        .follow-header span:nth-child(3){
            font-size: 0.8rem;
            font-weight: lighter;

        }
        .follow-body{
            display: flex;
            flex-direction: column;
            justify-items: flex-start;
        }
        .follow-body .user{
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 1px solid #333333;
        }
        .user div:nth-child(1){
            padding:1%;
        }
        .user div:nth-child(2){
            align-self: stretch;
            padding:2%;
        }
        .user-details span:first {
            font-size: 5px;
        }
        .username{
            font-weight: bolder;
        }
        .user-details span:nth-child(2) {
            font-size: 0.8rem;
        }
        a.btn{
            padding: 6px 30px;
            border: 1px solid #1CA1F2;
            color:#1CA1F2;
            border-radius: 40px;
            width:15%;
            margin-top:10px;
            text-decoration: none;
            font-weight: bold;
        }
        .disclaimer{
            width: 80%;
            margin:0 auto;
            display: flex;
            justify-content: center;
            color:#7A797A;
        }
        .main{
            display: flex;
            flex-direction: column;
            background-color: transparent;
        }
        .main > div{
            display: flex;
            padding:20px;
            justify-content: flex-start;
            margin:10px 11px;
            background-color: white;
        }
        #happening{
            width:90%;
            box-sizing: border-box;
            height: 30px;
            border: solid 1px #ccc;
            border-radius: 15px;
            align-self: center;
        }
        .comment-header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .box span{
            padding:10px;
        }
        .comment-footer{
            display: flex;
            justify-content: flex-start;
            margin:4%;
        }
        
        .comment-footer img{
            vertical-align: middle;                        
        }
        .row1{
            border-bottom: 1px solid black;
            color:#7A797A;
        }
        .comment-footer div{
            margin-right:10px;
            font-size: 0.7rem;
        }
        #logout{
            width: 100px;
            height: 30px;
            border: solid 1px #ccc;
            border-radius: 15px;
            color:black;
            background-color: #fff;
            cursor: pointer;
            margin-left:10px;
        }
        .cover {
            height: 200px;
            overflow: hidden;
            background: lightgrey;
            background-image: none;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin-top: 2px;
            margin-bottom: 2px;
        }
        .main-nav {
           padding-top: 8px;
           background: #fff;
           height: 120px;
           margin-bottom: 5px;
        }
        .main-nav .profile-avatar {
           background: #fff;
           border: 2px solid #fff;
           border-radius: 50%;
           height: 140px;
           position: absolute;
           width: 150px;
           overflow: hidden;
           top: 100px;
    
        }
        .profile-avatar img {
           width: 100%;
           height: 100%;
        }
        .main-nav .num li {
           padding: 10px;
           font-weight: bold;
           display: inline-block;
           line-height: 22px;
           text-align: center;
        }
        .main-nav .num li a {
           text-decoration: none;
           color: grey;
        }
        .num li.active span {
           color:grey;
        }
        .main-nav .num li span {
           display: block;
           font-weight: 700;
           font-size: 19px;
           letter-spacing: 1px;

        }
        .main-nav .edit {
           padding: 0 auto;
           border-radius: 20px;
           font-size: 1em;
           background: #fff;
           border: 2px solid #aaa;
           float: right;
           font-weight: bold;
        }
